<!-- item edit form -->

<%= form_for (@item.nil? ? Item.new : @item), :method => method, :remote => remote do |f| %>
	<fieldset>
		<legend><%= t(:item, :scope => [:views, :items, :forms, :new]) %></legend>
		<div class="control-group">
			<% [:title, :description, :material].each do |tag| %>
				<%= f.label t(tag, :scope => [:views, :items, :forms, :labels]), :class => "control-label" %>
				<%= f.text_field tag, :placeholder => t(tag, :scope => [:views, :items, :forms, :placeholders]) %>
			<% end %>
			<%= f.label t(:category, :scope => [:views, :items, :forms, :labels]), :class => "control-label" %>
			<%= f.select :category, "" %>
			<%= f.label t(:material_type, :scope => [:views, :items, :forms, :labels]), :class => "control-label" %>
			<%= f.select :material_type, "" %>
			<div class="inline">
				<%= f.label :quantity, :class => "control-label" %>
				<%= f.number_field :quantity %>
				<%= f.select :units, options_for_select(['grams','kilograms','pounds','tons','metric tons'].map { |x| [x,x] } ) %>
			</div>
			<div id="new-items-form-actions">
				<% unless @item.nil? %>
					<%= form_action_tag(:item) %>
				<% else %>
					<%= content_tag(:button, :class => "btn btn-info", :id => "new_item_sign_in_button") do %>
						<%= content_tag(:i, "", :class => "icon-user icon-white") %>
					<% end # button tag %>
				<% end # no item %>
			</div>			
		</div>
	</fieldset>
<% end %>

<script type="text/javascript">
	$(function() { 
		// items stuff
		$("#new_item_sign_in_button").click( function( ) { 
			$("#dialog-login-user-header").dialog("open");
			return false;
		} ); // new item sign in button
	
		// Categories
		var getchildcats = function(id) { 
			$.get( '<%= categories_path %>/' + id + ".json", function(data) { 
					var output = "";
					var cats = data['children'];
					for( var k = 0; k < cats.length; k++ ) { 
						var i = cats[k];
						output += "<option value='" + i['name'] + "'>" + i['name'] + "</option>";
					} // for k
					$("#item_material_type").html(output);
				} ); // get children
		}; // getchildcats
		$.get( '<%= categories_path %>.json', function(data) { 
			var output = "";
			var cats = data['categories'];
			for( var k = 0; k < cats.length; k++ ) { 
				var i = cats[k];
				output += "<option value='" + i['name'] + "' title='" + i['id'] + "' id='cat-option-" + i['name'] + "'>" + i['name'] + "</option>";
			} // for k
			$("#item_category").append(output);
			getchildcats(cats[0]['id']);
			$("#item_category").click( function() { 
				var id = $("#cat-option-" + $(this).val()).attr("title");
				getchildcats(id);				
			} ); // click callback
		} ); // get roots
	} ); // document.ready
</script>
