<!-- Item index partial -->
<section id="stock-items">
	<div class="span12-fluid">
		<div class="page-header">
			<h4><i class="icon-tags" ></i> <%= t( :new_items ) %></h4>
		</div>
	</div>
	</div class="span12-fluid">
		<ul class="thumbnails">
			<% @items.each do |item| %>
				<li class="span3">
					<div class="thumbnail">
						<% if item.elements.empty? %>
							<%= link_to image_tag( "http://placehold.it/260x180", :class => "itempicture" ), item %>
						<% else %>
							<%= link_to image_tag( item.elements.first.picture.url(:thumb), :class => "itempicture" ), item %>
						<% end %>
						<div class="caption">
							<h5><i class="icon-tag"></i> <%= item.title %></h5>
							<p><%= item.description %></p>
						</div>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
</section>
