<!-- Item index partial -->
<section id="stock-items">
	<div class="span12-fluid">
		<div class="page-header">
			<h4><i class="icon-tags" ></i> <%= t( :new_items ) %></h4>
		</div>
	</div>
	</div class="span12-fluid">
		<ul class="thumbnails">
			<% @items.each do |item| %>
				<li class="span3">
					<% if item.elements.empty? %>
						<% target_image_path = "http://placehold.it/260x180" %>
					<% else %>
						<% target_image_path = item.elements.first.picture.url(:small) %>
					<% end %>
					<a class="thumbnail itempicture" href="<%= item_path item %>" style="background-image : url('<%= target_image_path %>')">					
						<div class="caption">
							<h5><i class="icon-tag"></i> <%= item.title %></h5>
							<p><%= item.description.length < 25 ? item.description : item.description[0..24] + "..." %></p>
						</div>
					</a>
				</li>
			<% end %>
			<%= t(:nothing_here_yet) if @items.nil? || @items.empty? %>
		</ul>
	</div>
</section>
