<!-- show miscellanious data partial -->
<div class="page-header">
	<%= collapse_tag(:h3, t(:item_info, :scope => [:views, :items, :show]), :href => "#item-info" ) do %>
		<% if current_user == @item.user %>
			<%= content_tag( :button, 
				:class => "btn btn-info", 
				:id => "open-item-button" ,
				:rel => "tooltip" ,
				:title => t(:edit, :scope => [:views, :items, :forms, :labels] ) ,
				:placement => "top" ) do %>
				<%= content_tag( :i, "", :class => "icon-pencil icon-white") %>
			<% end %>
		<% end # if correct_user %>
		<dl class="dl-horizontal">
			<% Item.attr_accessible[:default].map{ |x| x.to_sym }.each do |key| %>
				<% next if key == :"" || key == :location_id %>
				<dt><%= t(key, :scope => [:views, :items, :show]) %></dt>
				<dd><%= @item[key].nil? ? t(:unknown) : @item[key] %></dd>
			<% end # each key %>
			<% @item.statuses.each do |status| %>
				<dt><%= t(status[:name], :scope => [:views, :items, :show]) %></dt>
				<dd><%= status[:effect].nil? ? t(:unknown) : status[key] %></dd>
			<% end # status %>
		</dl>
	<% end # collapse tag %>
</div>



