<!-- show miscellanious data partial -->
<div class="page-header">
	<%= collapse_tag(:h3, t(:item_info, :scope => [:views, :items, :show]), :href => "#item-info" ) do %>
		<% if current_user == @item.user %>
			<%= content_tag( :button, 
				:class => "btn btn-info", 
				:id => "open-item-button" ,
				:rel => "tooltip" ,
				:title => t(:edit, :scope => [:views, :items, :forms, :labels] ) ,
				:placement => "top" ) do %>
				<%= content_tag( :i, "", :class => "icon-pencil icon-white") %>
			<% end %>
		<% end # if correct_user %>
		<dl class="dl-horizontal">
			<% [:description , :quantity , :units , :material, :category, :material_type].each do |key, title| %>
				<dt><%= t(key, :scope => [:views, :items, :show]) %></dt>
				<dd><%= @item[key].nil? ? t(:unknown) : @item[key] %></dd>
			<% end # each key %>
		</dl>
	<% end # collapse tag %>
</div>



