<!-- show miscellanious data partial -->
<div class="span12-fluid">
	<div class="page-header">
		<h2><%= t(:item_info, :scope => [:views, :items, :forms, :show]) %></h2>
		<% if current_user == @item.user %>
			<%= content_tag( :button, 
				:class => "btn btn-info", 
				:id => "open-item-button" ,
				:rel => "tooltip" ,
				:title => t(:edit, :scope => [:views, :items, :forms, :labels] ) ,
				:placement => "top" ) do %>
				<%= content_tag( :i, "", :class => "icon-pencil icon-white") %>
			<% end %>
		<% end # if correct_user %>
		<dl>
			<% [:description , :quantity , :units , :material].each do |key, title| %>
				<dt><%= t(key, :scope => [:views, :items, :show]) %></dt>
				<dd><%= @item[key].nil? ? t(:unknown) : @item[key] %></dd>
			<% end # each key %>
		</dl>
	</div>
</div>
<div class="span12-fluid">
	<div class="page-header">
		<h2><%= t(:bid_data, :scope => [:views, :bids, :forms, :show] ) %></h2>
		<p><%= content_tag(:i, "", :class => "icon-flag" )%> <%= @bids.count %></p>
		<% unless @bids.nil? || @bids.empty? %>
			<p><%= t(:last_offer, :scope => [:views, :bids, :forms, :show] ) %> <%= @bids.last.offer %> <%= @bids.last.units %></p>
		<% end %>
	</div>
</div>
