<!-- bid index page -->
<table class="table table-striped">
	<thead>
		<tr>
			<% [:id, :price,:shipping,:name].each do |title| %>
				<th><%= t(title, :scope => [:views, :bids, :show]) %></th>
			<% end # each title %>
			<% if current_user == @item.user %>
				<th><%= t(:sell_to, :scope => [:views, :bids, :show]) %></th>
			<% end # if correct user %>
		</tr>
	</thead>
	<tbody>
		<% @bids.each do |bid| %>
			
			<tr>
				<td>
					<%= link_to user_path(bid.user) do %>
						<% if bid.user == @item.user %>
							<%= t(:asking_price, :scope => [:views, :bids, :show]) %>
						<% else %>
							<%= bid.user.id %>
						<% end %>
					<% end # link_to %>
				</td>
				<% [:offer].each do |field| %>
					<td><%= bid[field] %> <%= bid[:units] %></td>
				<% end # each field %>
				<% [:shipping, :name].each do |field| %>
					<td>
						<% if bid.location.nil? %>
							<%= t(:unknown) %>
						<% else %>
							<%= bid.location[field] %>
						<% end # if bad location %>
					</td>
				<% end # each field %>
				<td>
					<%= link_to( item_path(@item) + "/sold_to/#{bid.user_id}", :method => "put" ,
						:class => "btn btn-mini btn-success" ) do %>
						<%= content_tag(:i, "", :class => "icon-ok icon-white") %>
						<%= t(:sell, :scope => [:views, :bids, :forms, :labels]) %>
					<% end unless bid.user_id == @item.user_id || current_user != @item.user %>
					<%= link_to( edit_item_bid_path(bid), :class => "btn btn-warning btn-mini" ) do %>
						<%= content_tag(:i, "", :class => "icon-pencil icon-white") %>
						<%= t(:edit, :scope => [:views, :bids, :forms, :labels]) %>
					<% end unless bid.user != current_user %>
				</td>
			</tr>
		<% end # each bid %>
		<% if @bids.nil? || @bids.empty? %>
			<tr><td><%= t(:nothing_here_yet, :scope => [:views, :bids, :show] ) %></tr></td>
		<% end # no bids %>
	</tbody>
</table>
