<!-- bid index page -->
<table class="table table-striped">
	<thead>
		<tr>
			<% [:price,:shipping,:city].each do |title| %>
				<th><%= t(title, :scope => [:views, :bids, :show]) %></th>
			<% end # each title %>
			<% if current_user == @item.user %>
				<th><%= t(:sell_to, :scope => [:views, :bids, :show]) %></th>
			<% end # if correct user %>
		</tr>
	</thead>
	<tbody>
		<% @bids.each do |bid| %>
			
			<tr>
				<% [:offer].each do |field| %>
					<td><%= bid[field] %> <%= bid[:units] %></td>
				<% end # each field %>
				<% [:shipping, :city].each do |field| %>
					<td>
						<% if bid.location.nil? %>
							<%= t(:unknown) %>
						<% else %>
							<%= bid.location[field] %>
						<% end # if bad location %>
					</td>
				<% end # each field %>
				<td>
					<%= link_to( item_path(@item) + "/sold_to/#{bid.user_id}", :method => "put" ,
						:class => "btn btn-mini btn-success" ) do %>
						<%= content_tag(:i, "", :class => "icon-ok icon-white") %> []->$
					<% end unless bid.user_id == @item.user_id || current_user != @item.user %>
				</td>
			</tr>
		<% end # each bid %>
		<% if @bids.nil? || @bids.empty? %>
			<tr><td><%= t(:nothing_here_yet, :scope => [:views, :bids, :show] ) %></tr></td>
		<% end # no bids %>
	</tbody>
</table>
