<!-- new bid form -->
<%= form_for [@item, @bid ], :remote => remote, :method => method do |f| %>
	<fieldset>
		<legend><%= t(:new_bid_form) %></legendt>
		<div class="control-group">
			<%= f.label :offer, :class => "control-label" %>
			<%= f.number_field :offer, :class => "input-small" %>
			<%= f.select :units, options_for_select(["USD"]), :class => "input-small" %>
			<%= content_tag(:button, t(:new_bid), :class => "btn btn-success", :type => "submit" ) %>
		</div>
	</fieldset>
<% end %>

