<!-- transportation form -->
<fieldset>
	<legend><%= t(:transportation, :scope => [:views, :services, :forms, :new]) %></legend>
	<div id="truck-container">
		<%= label_tag "truck[id]", t(:trucking, :scope  => [:views, :bids, :forms, :labels]), :class => "control-label" %>
		<%= check_box_tag("truck[id]", @truck.id, false ) %>
	</div>
	<div id="ship-container">
		<%= label_tag "ship[id]", t(:shipping, :scope => [:views, :bids, :forms, :labels]), :class => "control-label" %>
		<%= select_tag( "ship[id]", options_for_select([[@ship.company, @ship.id]]), :include_blank => true ) %>
	</div>
	<table>
		<thead>
			<tr>
				<% [:start, :finish, :containers, :cost].each do |head| %>
					<th><%= t(head, :scope => [:views, :services, :forms, :labels]) %></th>
				<% end # each head %>
			</tr>
		</thead>
		<tbody>
			<tr>
				<% [:start, :finish, :containers, :cost].each do |head| %>
					<%= content_tag(:td, :id => "td-#{head.to_s}") do %>
						<%= t(:now_loading) %>
					<% end # td %>
				<% end # each head %>
			</tr>
		</tbody>
	</table>	
	
</fieldset>
