<!-- transportation form -->
<fieldset>
	<legend><%= t(:transportation, :scope => [:views, :services, :forms, :new]) %></legend>
	<% ['ship','truck'].each do |trans| %>
		<%= content_tag :div, :id => "#{trans}-container" do %>
			<%= label_tag "ship[id]", t("#{trans}ping".to_sym, :scope => [:views, :bids, :forms, :labels]), :class => "control-label" %>
			<% options_for_fags = trans == 'ship' ? [@ship.company, @ship.id] : [@truck.company, @truck.id] %>
			<%= select_tag( "#{trans}[id]", options_for_select([options_for_fags]), 
				:include_blank => true, :id => "transportation_select_#{trans}_id" ) %>
		<% end # div tag %>
	<% end # each trans %>
	<%= stateful_button_tag( "request_best_routes_button", :class => "btn btn-square", :style => "display : none;") do %>
		<%= image_tag("http://i299.photobucket.com/albums/mm281/foxnewsnetwork/earthicon.png") %>
	<% end # button %>
	<div id='recommendation-table'></div>	
	
</fieldset>
