<table class="table-striped">
	<theader>
		<tr>
			<% [:company, :start, :finish, :price].each do |field| %>
				<th><%= t field, :scope => [:views, :ships, :labels] %></th>
			<% end # each field %>
		</tr>
	</theader>
	<tbody>
		<% @ships.each do |ship| %>
			<tr>
				<% [:company, :start, :finish, :price].each do |field| %>
					<td>
						<% case field %>
							<% when :start %>
								<%= ship.origination.at.city %>
								<% if ship.origination.at.is_a? Port %>
									<%= " - " + ship.origination.at.code[0..7] %>
								<% end # if is port %>
							<% when :finish %>
								<%= ship.destination.at.city %>
								<% if ship.destination.at.is_a? Port %>
									<%= " - " + ship.destination.at.code[0..7] %>
								<% end # if is port %>
							<% when :price %>
								<%= number_to_currency ship[field] %>
							<% else %>
								<%= ship[field] %>
						<% end # case %>
					</td>
				<% end # each field %>
			</tr>
		<% end # each port %>
		
	</tbody>
</table>
