<!-- new bid form -->
<%= form_for [@item, @bid ], :remote => remote, :method => method do |f| %>
	<fieldset>
		<legend><%= t(:bid, :scope => [:views, :bids, :forms, :new]) %></legendt>
		<div class="control-group">
			<%= f.label t(:offer, :scope => [:views, :bids, :forms, :labels]), :class => "control-label" %>
			<%= f.number_field :offer, :class => "input-small" %> <%=" #{t(:USD)} / #{@item.units.singularize}"%>
		</div>
		<div class="control-group">
			<%= label_tag :shipping, "Shipping", :class => "control-label" %>
			<%= select_tag( "location[shipping]", options_for_select(['FAS','FOB','CNF','CIF','EXWORK']), :style => "width : 4em") %>
			<%= text_field_tag "location[name]", "", :placeholder => t(:name, :scope => [:views, :bids, :forms, :placeholders]), 
				:id => "autocomplete-target-box", :class => "input-small" %>
		</div>
		<div class="control-group">
			<%= text_field_tag "location[address]", "", :placeholder => t(:address, :scope => [:views, :bids, :forms, :placeholders] ) %>
			<% [:city, :state, :zip].each do |mini| %>
				<%= text_field_tag "location[#{mini.to_s}", "", :class => "inline input-mini", :placeholder => t(mini, :scope => [:views, :bids, :forms, :placeholders] ) %>
			<% end # each mini %>
			<%= text_field_tag "location[country]", "", :placeholder => t(:country, :scope => [:views, :bids, :forms, :placeholders] ) %>
		</div>
		<%= form_action_tag( :bid ) %>
	</fieldset>
<% end %>

