<!-- User signup form -->
<div class="container-fluid">
  <div class="row">
    <div class="span5 offset3 well">
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
				<%= devise_error_messages! %>
				<fieldset>
					<legend><%= t(:new_user, :scope => [:views,:users,:forms,:labels]) %></legend>
					<div class="control-group">
						<%= hidden_field_tag "back_path", @back_path %>
					<% [:email, :password, :phone, :company].each do |field| %>
							<%= f.label t(field, :scope => [:views, :users, :forms, :labels]), :class => "control-label" %>
							<% case field %>
								<% when :email, :password, :phone %>
<%= f.method((field.to_s + "_field").to_sym).call(field, :placeholder => t(field,:scope => [:views,:users,:forms,:placeholders]), :class => "input-xlarge") %>
								<% else %>
									<%= f.text_field( field, :placeholder => t(field, :scope => [:views,:users,:forms,:placeholders] ), :class => "input-xlarge" )  %>
							<% end %>
							<%= content_tag(:p, t(field, :scope => [:views,:users,:forms,:help]), :class => "help-block") %>
					<% end %>
					</div>
					<div class="form-actions">
						<%= form_action_tag(:user) %>
					</div>
				</fieldset>
			<% end %>  

			<%= render "devise/shared/links" %>
    </div>
  </div>
</div>

