<!-- User signup form -->
<div class="container-fluid">
  <div class="row">
    <div class="span5 offset3 well">
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
				<%= devise_error_messages! %>
				<fieldset>
					<legend><%= t(:summary_new_user) %></legend>
					<% [:email, :password, :phone, :company].each do |field| %>
						<div class="control-group">
							<%= f.label field, :class => "control-label" %>
							<% case field %>
								<% when :email, :password, :phone %>
<%= f.method((field.to_s + "_field").to_sym).call(field,:placeholder => t((field.to_s + "_placeholder").to_sym), :class => "input-xlarge") %>
								<% else %>
									<%= f.text_field( field, :placeholder => t((field.to_s + "_placeholder").to_sym), :class => "input-xlarge" )  %>
							<% end %>
							<%= content_tag(:p, t((field.to_s + "_help").to_sym), :class => "help-block") %>
						</div>
					<% end %>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary"><%= t(:submit) %></button>
					</div>
				</fieldset>
			<% end %>  

			<%= render "devise/shared/links" %>
    </div>
  </div>
</div>
