<header>
	<div class="navbar navbar-fixed-top">
		<div class="container-fluid">
			<div class="subnav">		
				<ul class="nav nav-pills">
					<li>
						<%= link_to( image_tag("http://placehold.it/150x30") , root_path) %>
					</li>
					<% { "shopping-cart" => :buy, "gift" => :sell }.each do |icon, tab| %>
						<li>
							<a href='<%= icon=="gift" ? new_item_path : items_path %>' id="<%= "header_link_#{tab.to_s}" %>">
								<i class="<%= "icon-#{icon}" %>"></i> <%= t tab %>
							</a>
						</li>
					<% end %>
					<li>
						<%= form_tag "#", :class => "form-search" do %>
							<%= text_field_tag :navbarsearch, "", :class => "search-query disabled", :placeholder => "Search disabled", :disabled => "" %>
						<% end %>
					</li>
					<% if user_signed_in? %>
						<li><%= link_to content_tag(:i, "", :class => "icon-user") + current_user.company, user_path( current_user ) %></li>
						<li>
							<%= link_to destroy_user_session_path, :method => :delete do %>
								<%= content_tag(:i, "", :class => "icon-remove-sign") %>
								<%= t(:logout, :scope => [:views, :headers, :forms, :labels] ) %>
							<% end # link_to %>
						</li>
					<% else %>
						<% { :signup => "plus", :signin => "user" }.each do |tab, icon| %>
							<li>
								<%= link_to( (tab == :signin ? new_user_session_path : new_user_registration_path), :id => "open-#{icon}-button" ) do %>
									<%= content_tag(:i, "", :class => "icon-#{icon}") %>
									<%= t(tab, :scope => [:views, :headers, :forms, :labels]) %>
								<% end %>
							</li>
						<% end %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</header>
<% unless user_signed_in? %>
	<%= dialog_tag( "dialog-login-user-header", :open => "open-user-button", :close => "close-login-button" ) do %>
		<%= render "users/partials/login", :remote => false %>
	<% end # dialog %>
<% end # signed in %>
