<!--user edit partial-->
<%= form_for @user, :method => "put", :class => "well" do |f| %>
  <fieldset>
  	<legend><%= t(:edit_user) %></legend>
  	<% [:phone,:company].each do |field| %>
			<div class="control-group">
				<%= f.label field, :class => "control-label" %>
				<% case field %>
					<% when :phone %>
						<%= f.phone_field field, :class => "input-xlarge" %>
					<% else %>
						<%= f.text_field field, :class => "input-xlarge" %>
				<% end %>
			</div>
		<% end %>
		<button type="submit" class="btn btn-primary"><%= t(:submit) %></button>
  </fieldset>
<% end %>  
