<!-- User signup form -->
<%= form_tag users_path, :method => "post", :class => "well" do %>
  <fieldset>
  	<legend><%= t(:new_user, :scope => [:views,:users,:forms,:labels]) %></legend>
  	<% [:email, :password, :phone, :company].each do |field| %>
			<div class="control-group">
				<%= label_tag "user_#{field.to_s}", t(field, :scope => [:views,:users,:forms,:labels] ), :class => "control-label" %>
				<% case field %>
					<% when :email, :password, :phone %>
<%= method((field.to_s + "_field_tag").to_sym).call("user[#{field.to_s}]", "", :placeholder => t(field,:scope => [:views,:users,:forms,:placeholders]), :class => "input-xlarge") %>
					<% else %>
						<%= text_field_tag( "user[#{field.to_s}]", "", :placeholder => t(field, :scope => [:views,:users,:forms,:placeholders] ), :class => "input-xlarge" )  %>
				<% end %>
				<%= content_tag(:p, t(field, :scope => [:views,:users,:forms,:help]), :class => "help-block") %>
			</div>
		<% end %>
		<div class="form-actions">
			<%= content_tag(:button, :class => "btn btn-primary", :type => "submit") do %>
				<%= content_tag(:i, "", :class => "icon-ok icon-white") %>
			<% end # submit btn %>
			<%= content_tag(:button, :class => "btn btn-inverse", :type => "reset", :name => "reset", :id => "close_user_button") do %>
				<%= content_tag(:i, "", :class => "icon-remove icon-white") %>
			<% end # reset btn %>
		</div>
  </fieldset>
<% end %>  
