<!-- new item page -->
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12 well">
			<%= form_for @item do |f| %>
				<fieldset>
					<legend><%= t(:new_item_form) %></legend>
					<div class="control-group">
						<% {:title => "HDPE pipes", :description => "White, no impurities", :material => "Packed in 12 gaylord boxes" }.each do |tag, placeholder| %>
							<%= f.label t(tag), :class => "control-label" %>
							<%= f.text_field tag, :value => "", :placeholder => "ex." + placeholder %>
						<% end %>
						<%= f.label :category, :class => "control-label" %>
						<%= f.select :category, options_for_select(['plastic scraps','waste paper','regular products'].map { |x| [x,x] }) %>
						<div class="inline">
							<%= f.label :quantity, :class => "control-label" %>
							<%= f.number_field :quantity %>
							<%= f.select :units, options_for_select(['grams','kilograms','pounds','tons','metric tons'].map { |x| [x,x] } ) %>
						</div>
						<%= content_tag(:button, t(:submit), :class => "btn btn-primary", :type => "submit" ) %>
					</div>
				</fieldset>
			<% end %>
		</div>
	</div>
</div>
