<!-- Item show page -->
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12 well">
			<%= render "items/partials/show_title" %>	
		</div>
		<div class="row-fluid">
			<div class="span4 well">
				<%= render "items/partials/show_elements" %>
			</div>
			<div class="span4 well">
				<%= render "items/partials/show_price" %>
			</div>
			<div class="span4 well">
				<%= render "items/partials/show_data" %>
			</div>
		</div>	
	</div>
</div>

<!-- dialog and jquery ui section -->
<% stuff = {} %>
<% if user_signed_in? %>
	<% stuff["element"] = "post" if @item.user == current_user %>
	<% stuff["bid"] = "post" %>
	<% stuff["item"] = "put" %>
<% end %>
<% stuff.each do |type, meth| %>
	<%= dialog_tag("dialog-#{type}-item-show", :open => "open-#{type}-button", :close => "close-#{type}-button") do %>
		<%= render "#{type.pluralize}/partials/new", :remote => false, :parent => @item, :method => meth %>
	<% end %>
<% end %>


