<!-- Upload new element -->
<%= form_for [@item, @item.elements.new], :html => {:multipart => true}, :remote => remote do |f| %>
	<fieldset>
		<legend><%= t(:element, :scope => [:views, :elements, :forms, :new]) %></legend>
		<div class="control-group">
			<%= f.label :picture, t(:picture, :scope => [:views, :elements, :forms, :new]), :class => "control-label" %>
			<%= f.file_field :picture, :accept => "image/gif,image/png, image/jpg, image/jpeg" %>
			<%= f.label :metadata, t(:metadata, :scope => [:views, :elements, :forms, :new]), :class => "control-label" %>
			<%= f.text_field :metadata %>
		</div>
		<%= form_action_tag( :element ) %>
	</fieldset>
<% end %>
